<h1>Create a new article</h1>
<form action='/articles' method='POST'>
 <h2>Article Title<h2><input type='text', name='title'>
 <h2>Article Content<h2><input type='text', name='content'>
 <input type='submit' value='Create Article'>
</form>